@use './mixins';

.loading {
	@include mixins.center;
	.loader-main {
		position: relative;
		width: 60px;
		height: 60px;
		color: var(--color-blue);
		svg {
			width: 100%;
			height: auto;
		}
		.loader {
			border: 8px solid var(--color-paragraph); /* Светлый цвет фона */
			border-top: 8px solid var(--color-blue); /* Цвет крутящейся части */
			border-radius: 50%;
			width: 90px;
			height: 90px;
			animation: spin 1s linear infinite;
			position: absolute;
			@include mixins.abs-center;
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}
