@import '/src/app/styles/mixins';
@import '/src/app/styles/media';

.footer {
	background-color: var(--color-blue);
	padding-block: var(--section-padding-y);
	font-family: 'IBM Plex Sans';

	&-logo {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: var(--color-white);
		gap: 10px;
		align-self: center;

		p {
			text-transform: uppercase;
			font-family: 'Moscow University';
		}

		svg {
			width: 45px;
			height: 45px;
		}
	}

	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: calc(var(--margin-base)/2);

	}

	.soc1als {
		display: flex;
		gap: calc(var(--margin-base) / 2);

		svg {
			width: 30px;
			aspect-ratio: 1;
		}
	}

	.copyright {
		padding-block: calc(var(--margin-base)/2);
		border-top: 1px solid var(--color-paragraph);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 15px;

		p {
			@include fluid-text(16, 14);
			margin: 0;
			color: var(--color-white);
		}

		a{

			@include fluid-text(16, 14);
		}
	}
}
