@import '/src/app/styles/media';
@import '/src/app/styles/mixins';

.header {
	background-color: var(--color-blue);
	padding-block: 8px;
	position: relative;
	position: fixed;
	top: 0;
	width: 100%;
	transition: transform var(--transition-duration) ease;
	z-index: 1000;
	font-family: 'IBM Plex Sans';

	&.hidden {
		transform: translateY(-100%);
	}

	&.visible {
		transform: translateY(0);
	}

	nav {
		position: relative;
		@include tablet {
			gap: calc(var(--margin-base) / 2);
			flex-wrap: wrap;
			justify-content: center;
		}

		@include mobile {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
	}
	.topBox-nav {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: calc(var(--margin-base) / 2);

		@include mobile {
			margin-bottom: 0;
		}
	}
	.psevdoBurger {
	}

	&-logo {
		@include flex-center($isInline: true);
		color: var(--color-white);
		gap: 10px;
		align-self: center;

		svg {
			width: 45px;
			height: 45px;
		}

		p {
			@include fluid-text(20, 16);
			text-transform: uppercase;
			font-family: 'Moscow University';
		}

		@include hover {
			color: var(--color-secondary);
		}
	}

	.currency-list {
		position: absolute;
		right: 0;
	}

	&-list {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		.dropdown {
			position: relative;

			svg {
				transition-duration: var(--transition-duration);
			}

			padding-inline: 25px;

			@include tablet {
				padding-inline: 10px;
			}

			&-item {
				width: 100%;
				height: 0;
				background-color: var(--color-blue);
				position: absolute;
				left: 0px;
				overflow: hidden;
				transition-timing-function: linear;
				transition-duration: var(--transition-duration);
				opacity: 0;
				padding-inline: 25px;
				display: flex;
				flex-direction: column;
				gap: calc(var(--margin-base) / 2);
				padding-block: calc(var(--margin-base) / 2);

				@include tablet {
					padding-inline: 10px;
				}
			}
		}

		.dropdown.active {
			.dropdown-item {
				height: fit-content;
				opacity: 1;
			}
			svg {
				transform: rotate(180deg);
			}
		}

		a {
			@include fluid-text(18, 14);
			display: flex;
			align-items: center;
		}

		.currencyBox {
			color: var(--color-white);
			display: flex;
			gap: 3px;
			width: 230px;

			

			p {
				margin-bottom: 0;
			}
		}
		.dropdown-currency {
			padding: 0;
			cursor: pointer;
		}
		.dropdown-currency.none {
			display: none;
		}
	}

	// Burger
	.burger-pos {
		position: absolute;
		left: 0;
	}
	.burger {
		@include reset-button;
		@include square(60px);
		@include tablet-above {
			display: none;
		}
		cursor: pointer;
		position: relative;
		&::after {
			@include abs-center;

			transition-duration: var(--transition-duration);
			content: '';
			width: 50%;
			height: 2px;
			background-color: var(--color-white);
			border-radius: 5px;
			box-shadow: 0 -10px var(--color-white), 0 10px var(--color-white);
		}
		&::before {
			@include abs-center;

			transition-duration: var(--transition-duration);
			content: '';
			width: 50%;
			height: 2px;
			background-color: var(--color-white);
			border-radius: 5px;
			box-shadow: 0 0 var(--color-white), 0 0 var(--color-c);
		}

		&.open {
			&::after {
				rotate: 45deg;
				background-color: var(--color-white);
				border-radius: 5px;
				box-shadow: 0 0 var(--color-white), 0 0 var(--color-white);
			}
			&::before {
				rotate: -45deg;
				background-color: var(--color-white);
				border-radius: 5px;
				box-shadow: 0 0 var(--color-white), 0 0 var(--color-white);
			}
		}
	}

	// Burger-box

	.burger-box {
		overflow: hidden;
		opacity: 0;
		width: 100%;
		background-color: var(--color-blue);
		position: absolute;
		left: 0;
		top: 52px;
		transition-timing-function: linear;
		transition-duration: var(--transition-duration);
		padding-inline: 25px;
		display: flex;
		flex-direction: column;
		gap: calc(var(--margin-base) / 2);
		padding-block: calc(var(--margin-base) / 2);
		height: 0;

		.dropdown {
			width: 100%;

			&-item {
				position: static;
				display: none;
			}

			a {
				width: fit-content;
			}
		}

		.dropdown.active {
			.dropdown-item {
				position: static;
				display: flex;
			}
		}
	}
	.burger-box.open {
		height: fit-content;
		opacity: 1;
	}
}
