.public {
	padding-block: calc(var(--section-padding-y) * 2);

	.publicContent {
		max-width: 1060px;
		margin: auto;
		h1, h2 {
			text-align: center;
			font-weight: 600;
			margin: 0;
			margin-bottom: var(--margin-base);
		}

		.public-text-box {
			&:not(:last-child) {
				margin-bottom: var(--margin-base);
			}
			h3 {
				margin: 0;
				font-weight: 600;
			}
			a {
				color: var(--color-blue);
			}
		}
	}
}
