@import '/src/app/styles/media';
@import '/src/app/styles/mixins';

.banner {
	// max-height: 710px;
	overflow: hidden;

	// @include tablet {
	// 	max-height: 505px;
	// }
	// @include mobile {
	// 	max-height: 380px;
	// }
	// @include mobile-s {
	// 	max-height: 240px;
	// }
	a {
		img {
			width: 100%;
			height: auto;
		}

		@include hover {
			opacity: 1;
		}
	}
}