@import '/src/app/styles/media';
@import '/src/app/styles/mixins';

.mainPage {
	
	.clothSection {
		padding-block: calc(var(--section-padding-y) * 2);
	}
	.cloth {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--margin-base);

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile-s {
			gap: calc(var(--margin-base) / 2);
		}
	}
}
