.refund {
	padding-block: calc(var(--section-padding-y) * 2);
	font-family: 'IBX Plex Sans';

	.refundContent {
		max-width: 1060px;
		margin: auto;
		h1 {
			text-align: center;
			font-family: 'Moscow University';
			margin-bottom: var(--margin-base);
			color: var(--color-dark);
		}

		.refund-text-box {
			&:not(:last-child) {
				margin-bottom: var(--margin-base);
			}
			h2 {
				margin: 0;
				font-weight: 600;
			}
			a {
				color: var(--color-blue);
			}
		}
	}
}
