@import '/src/app/styles/media';
@import '/src/app/styles/mixins';

.product-article {
	width: 100%;

	border-radius: var(--border-radius-small);
	box-shadow: 0px 1px 1px var(--color-dark);
	overflow: hidden;
	padding-bottom: calc(var(--margin-base) / 2);

	.product-content {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: calc(var(--margin-base) / 2);
		cursor: pointer;
	}

	img {
		width: 100%;
		height: auto;
	}

	p {
		text-align: center;
		margin-bottom: 0;
		@include fluid-text(20, 14);
	}
	.choose-color {
		display: flex;
		align-items: center;
		gap: 5px;
		.color-box {
			width: 15px;
			aspect-ratio: 1;
			border-radius: 50%;
			cursor: pointer;
		}

		.color-box.active {
			opacity: 0.8;
		}
	}
	.product-price {
		color: var(--color-blue);
	}
	.modalOpen-btn {
		@include reset-button;
		@include fluid-text(18, 12);
		background-color: var(--color-blue);
		color: var(--color-white);
		padding: 4px 15px;
		border-radius: var(--border-radius-small);
		border: 1px solid transparent;

		cursor: pointer;

		@include hover {
			color: var(--color-blue);
			background-color: var(--color-white);
			border: 1px solid var(--color-blue);
		}

		@include mobile-s {
			padding: 2px 10px;
		}
	}

	.modalOverlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(8px);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000;
		opacity: 0;
		display: none;
	}

	@keyframes modal {
		0% {
			transform: translateY(100%);
		}
		100% {
			transform: translateY(0%);
		}
	}

	@keyframes modalTwo {
		0% {
			display: none;
		}
		10% {
			transform: translateY(100%);
		}
		100% {
			transform: translateY(0%);
		}
	}

	.modalOverlay.open {
		display: flex;
		opacity: 1;

		.modalContent {
			transform: translateY(0%);
			animation: modal var(--transition-duration) linear;
		}
	}

	.modalContent {
		display: flex;
		justify-content: space-between;
		gap: var(--margin-base);
		background-color: var(--color-white);
		padding: calc(var(--section-padding-y) * 2);
		width: 100%;
		max-width: 1300px;
		margin-inline: var(--margin-base);
		max-height: 90%;
		overflow-y: scroll;
		border-radius: var(--border-radius);
		scrollbar-width: none;
		-ms-overflow-style: none;
		position: relative;

		&::-webkit-scrollbar {
			display: none;
		}

		@include mobile {
			flex-direction: column;
			max-width: 90%;
			padding: calc(var(--section-padding-y));
		}

		p {
			text-align: left;
		}

		.modal-picture {
			display: flex;
			gap: var(--margin-base);

			@include mobile {
				width: 100%;
			}

			.modal-picture-nav {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: var(--margin-base);
				overflow-y: scroll;
				max-height: 400px;
			}
			.modal-picture-main {
				width: 400px;
				aspect-ratio: 1;

				@include tablet {
					width: 300px;
				}
				@include mobile {
					width: 100%;
				}

				img {
					width: 100%;
					margin-bottom: calc(var(--margin-base) / 2);
					border-radius: var(--border-radius-small);
				}

				.Slider {
					img {
						width: 100px;
						height: auto;
						margin-right: calc(var(--margin-base) / 2);
						cursor: pointer;
						border-radius: var(--border-radius-small);
					}
					.active {
						border: 2px solid var(--color-blue);
					}
				}
			}
		}
		.modal-text {
			max-width: 700px;
			display: flex;
			flex-direction: column;
			gap: calc(var(--margin-base) / 2);

			&-title {
				color: var(--color-blue);
			}

			&-size {
				color: var(--color-blue);
			}

			&-size-box {
				display: flex;
				align-items: center;
				gap: calc(var(--margin-base) / 2);
				flex-wrap: wrap;

				.size-box {
					border: 1px solid var(--color-dark);
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: var(--border-radius-small);
					width: 45px;

					aspect-ratio: 1;
					cursor: pointer;
				}

				.size-box.active {
					color: var(--color-blue);
					border: 2px solid var(--color-blue);
				}
			}
		}
		.closeButtonModal {
			@include reset-button;
			cursor: pointer;
			width: fit-content;
			height: fit-content;
			position: absolute;
			right: 15px;
			top: 15px;

			img {
				width: 30px;
				height: 30px;
			}
		}

		.offerBtn {
			background-color: var(--color-blue);
			color: var(--color-white);
			width: fit-content;
			border-radius: var(--border-radius-small);
			padding: 5px 15px;
			border: 1px solid var(--color-blue);

			@include hover {
				background-color: transparent;
				color: var(--color-blue);
			}

			@include mobile-s {
				width: 100%;
				text-align: center;
			}
		}
	}
}
