@import '/src/app/styles/media';
@import '/src/app/styles/mixins';

.helloSection {
	.container {
		background-color: var(--color-secondary);
		padding-block: calc(var(--section-padding-y) * 2);
	}
	.hello {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: var(--margin-base);


		&-logo {
			color: var(--color-blue);
			display: flex;
			align-items: center;
			gap: var(--margin-base);
			line-height: 1;
			@include mobile {
				gap: calc(var(--margin-base)/2);
			}
			span {
				@include fluid-text(16, 14);
			}
		}

		&-text {
			text-align: center;
			max-width: 700px;
			font-family: 'IBM Plex Sans';
			.title {
				color: var(--color-blue);
				margin-bottom: var(--margin-base);
			}
		}

		.toShop{
			@include reset-button;
			font-weight: 600;
			background-color: var(--color-blue);
			color: var(--color-white);
			border-radius: var(--border-radius-small);
			padding: 5px 15px;
			cursor: pointer;
			border: 1px solid var(--color-blue);
			@include hover {
				background-color: var(--color-white);
				color: var(--color-blue);
	
			}
		}
	}
}
